$opacity-loading: 0.3;
$width-control: 100px;
$width-timing: 105px;

.playback {
	position: relative;
	background-color: $color-grey;
	transition: transform 0.3s ease-in-out;
	transform: translateY(50px);
	padding-top: 5px;

	[ion-fab] {
		background-color: $color-primary;
		color: white;
	}

	.toolbar-content {
		display: flex;
	}

	// &__spinner {
	// 	position: absolute;
	// 	z-index: 11;
	// 	top: 50%;
	// 	left: 10px;
	// 	transform: translateY(-50%);
	// 	display: none;

	// 	.playback--loading & {
	// 		display: block;
	// 	}
	// }

	&--shown {
		transform: translateY(0);
	}

	&--fab {
		margin-left: 15px;
	}

	&__control {
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
		position: absolute;
		top: 12px;
		left: $width-timing + 15px;

		&__buttons {
			.playback--loading & {
				opacity: $opacity-loading;

				button:first-child {
					opacity: 0;
				}
			}
		}
	}

	&__display {
		position: absolute;
		left: $width-control + $width-timing + 5px;
		top: 7px;
		opacity: 1;
		transition: opacity 0.1s ease-in-out;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;

		&:hover {
			cursor: pointer;
		}

		// strong {
		// 	font-size: 16px;
		// }

		&--creator {
			// font-weight: 100;
			// font-size: 18px;
			// color: #555;
			// text-transform: uppercase;
			font-weight: bold;
			font-size: 18px;
		}

		&--title {
			margin-top: 3px;
		}

		.playback--loading & {
			opacity: $opacity-loading;
		}
	}

	&__timing {
		width: $width-timing; // so it can be centered in the middle of the fab heart
		position: absolute;
		top: 32px;
		left: 0;
		text-align: center;

		&--current {
			font-weight: bold;
		}

		&--separator {
			opacity: 0.5;
		}

		&--total {
			opacity: 0.5;
		}
	}

	&__seeker {
		width: calc(100% - 81px);
		z-index: 10;
		top: -6px;
		right: 0;
		position: absolute;
	}

}
