$opacity-loading: 0.3;
$width-control: 100px;

.playback {
	position: relative;
	background-color: $color-grey;
	transition: transform 0.3s ease-in-out;
	transform: translateY(50px);

	[ion-fab] {
		background-color: $color-primary;
		color: white;
	}

	.toolbar-content {
		display: flex;
	}

	// &__spinner {
	// 	position: absolute;
	// 	z-index: 11;
	// 	top: 50%;
	// 	left: 10px;
	// 	transform: translateY(-50%);
	// 	display: none;

	// 	.playback--loading & {
	// 		display: block;
	// 	}
	// }

	&--shown {
		transform: translateY(0);
	}

	&--fab {
		margin-right: 15px;
	}

	&__control {
		width: $width-control;
		padding-left: 10px;
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
		position: relative;
		top: -5px;

		&__buttons {
			.playback--loading & {
				opacity: $opacity-loading;

				button:first-child {
					opacity: 0;
				}
			}
		}
	}

	&__display {
		display: inline-block;
		padding-left: 10px;
		opacity: 1;
		transition: opacity 0.1s ease-in-out;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		width: calc(100% - $width-control);

		&:hover {
			cursor: pointer;
		}

		strong {
			font-size: 16px;
		}

		.playback--loading & {
			opacity: $opacity-loading;
		}
	}

	&__seeker {
		width: 100%;
		// position: absolute;
		z-index: 10;
		top: -5px;
		// background-color: $color-grey-light;

		// &__position {
		// 	height: 100%;
		// 	width: 100%;
		// 	transform: translateX(-100%);
		// 	background-color: $color-primary-light;
		// 	transition: transform 0.1s linear;
		// }
	}

}
