.track-list {
	&__item {
		cursor: pointer;
		white-space: nowrap;
		background-color: #fff;
		transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;

		&__creator, &__title {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&--active {
			background-color: #f1f1f1;
		}

		&--faved { }
	}
}