.volume-slider {
	// height: 275px;
	// width: 50px;
	// overflow: hidden;
	margin: 10px;

	&__range {
		transform: rotate(270deg);
		// position: relative;
		// left: -100px;
		// top: 110px;
		height: 100%;
	}

}
