navbar-music-control {
	position: absolute;
    top: 15px;
    right: 5px;

	.navbar-music-control {
			[ion-button] {
			opacity: 0.3;
			transition: opacity 0.25s ease-in-out;
			color: black;
		}

		&--active {
			&[ion-button] {
				opacity: 1;
			}
		}

	}
}
